.App {
  text-align: center;
}


.screen-height {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.padded-comfortable {
    padding: 20px;
}

.padded-bottom-comfortable {
    padding-bottom: 20px;
}

.padded-top-comfortable {
    padding-top: 20px;
}


.no-padded {
    padding: initial;
}

.no-padded-bottom {
    padding-bottom: initial;
}

.no-padded-top {
    padding-top: initial;
}